/* General */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: url('../images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #333;
}

/* Menú de navegación */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #003850;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav .logo a {
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
}

nav ul.menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav ul.menu li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  transition: color 0.3s;
}

nav ul.menu li a:hover {
  color: #ffcc00; /* Color dorado al hacer hover */
}

/* Sección Hero */
#hero {
  text-align: center;
  padding: 6rem 2rem;
  background: linear-gradient(to right, #0078d4, #005bb5), url('../images/background.jpg');
  background-size: cover;
  color: white;
}
